/* Définition des polices personnalisées */
@font-face{
    font-family: 'MoonlessSC_Regular';
    src: url('fonts/MoonlessSC_Regular.otf');
}

/* Eléments principaux de la page */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: #FF4500;
}

html{
    font-family:'MoonlessSC_Regular', Arial, serif;
    font-size: 15px;
     background-color: black;
}


/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 5px 5px 0px 5px;
}

#logo img
{
    width: 45px;
    height: 30px;
}

header h1
{
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}
/* cat meilleur film*/

.meilleur__film{
    margin: 45px 5px 45px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    box-shadow : 6px;
}

/* Carousel*/
.carousel{
    margin: 45px 5px 45px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    box-shadow : 6px;
}
.element img{
    width: 100%;
    height: 100%;

}
button{
    border: 0;
    border-radius: 50%;
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    font-size : 0rem;
    font-weight: bold;
    position: absolute;
    opacity: 50%
}
.carousel__buttonPrev{
    left: 70px;
}

.carousel__buttonNext{
    right: 10px;
}


/* Footer*/