* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html{
    font-size: 10px;
}


/* Définition des polices personnalisées */

/* Eléments principaux de la page */

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 45px;
    height: 30px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

}

/* Section */
section
{
    display: inline-block;
    border: 1px solid blue;
    vertical-align: top;
    background: blue;
}
section h1{
    color: blue
}
/* Carousel*/
.carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    box-shadow : 6px;
}
.element img{
    width: 100%;
    height: 100%;

}
button{
    border: 0;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    font-size : 0rem;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.5s;
}
.carousel__buttonPrev{
    left: 2px;
}

.carousel__buttonNext{
    right: 2px;
}


/* Footer*/